@()

@main("About"){
  <header class="intro-header" style="background-image: url('http://i.imgur.com/MteULJJ.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>A propos de moi</h1>
            <hr class="small">
            <span class="subheading">Scala, Java, Kotlin, Android Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>
}{
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>Je suis un Développeur Full-stack avec plus de 3 ans d'expérience en Développment d'Application Android. Aussi je suis compétent en ce qui concerne  Scala, Akka, Slick, Application Réactive, Blogging, Formation, Parler en public et j'aime partager des choses aux gens dans le monde!</p>
    </div>
  </div>
  </div>
}
