@()

@main("About"){
  <header class="intro-header" style="background-image: url('http://i.imgur.com/MteULJJ.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>About Me</h1>
            <hr class="small">
            <span class="subheading">A propos de moi</span>
          </div>
        </div>
      </div>
    </div>
  </header>
}{
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>Am a Full-stack developer with more than 3 years experience on Android Application Development. Also I have skills in Scala, Akka, Slick, Reactive Application, Blogging, Training, Public Speaking and do love to share things to people in the world!</p>
    </div>
  </div>
  </div>
}
