@(posts:Seq[Post])

@import common.DateFormat

@main("Ange Bagui, Scala, Android"){
    <header class="intro-header" style="background-image: url('http://i.imgur.com/6zCbYKE.jpg?1')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Ange Bagui</h1>
                        <hr class="small">
                        <span class="subheading">Scala, Java, Kotlin, Android Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
} {

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @for(post<-posts){
                <div class="post-preview">
                    <a href="/posts/@post.id">
                        <h2 class="post-title">
                        @post.title
                        </h2>
                        <h3 class="post-subtitle">
                        @post.subtitle
                        </h3>
                    </a>
                    <p class="post-meta">Publié par <a href="/about">@post.author</a> le @DateFormat.futureContext(post.createdAt)</p>
                </div>
                <hr>
            }
                <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Anciennes Publications &rarr;</a>
                </li>
            </ul>
        </div>
    </div>

}
