@(post :Post)

@import common.DateFormat

@main(post.title){
  <header class="intro-header" style="background-image: url('@post.cover')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>@post.title</h1>
            <h2 class="subheading">@post.subtitle</h2>
            <span class="meta">Publié par <a href="/about">@post.author</a> le @DateFormat.futureContext(post.createdAt)</span>
          </div>
        </div>
      </div>
    </div>
  </header>
}{

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          @Html.apply(post.content)

        </div>
      </div>
    </div>
  </article>

}